/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #888;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(30, 30, 30, 0.8);
  background: #eee;
}

:root {
  --list-item-height: 30px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 100vh;
}

.main {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.input-area {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  width: 100%;
}

.input-checkbox-area {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr max-content;
  width: 100%;
}

label {
  font-weight: bold;
  color: #555;
  flex-shrink: 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #0084ff;
}

button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

button:disabled {
  background-color: #ddd;
  color: #666;
  cursor: default;
}

button:hover:not(:disabled) {
  background-color: #0072d6;
}

.target-url-container {
  position: relative;
  width: 100%;
}

.target-list-container {
  position: relative;
  width: 100%;
  display: none;
}

.toggle-target-list-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: unset;
  font-size: 1.2rem;
  color: #555;
  background: #ddd;
}

.toggle-target-list-button:hover:not(:disabled) {
  background-color: #aaa;
}

.target-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(var(--list-item-height) * 5);
  overflow-y: scroll;
  border-radius: 4px;
  background: #eee;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.target-list li {
  height: var(--list-item-height);
  padding: 4px;
  font-size: 1rem;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.target-list li:hover:not(:disabled) {
  background-color: #ccc;
}

.button-area {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.server-status-container {
  width: 100%;
  margin-top: 16px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.server-status {
  white-space: pre-wrap;
}

.server-status[class*='error'] {
  color: #ff0000;
}

.server-url-qrcode {
  display: block;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ffffff;
  }

  label {
    color: #ffffff;
  }

  .toggle-target-list-button {
    color: #ffffff;
    background: #444;
  }

  .toggle-target-list-button:hover:not(:disabled) {
    background-color: #333;
  }

  .target-list {
    background-color: #444;
  }

  .target-list li:hover:not(:disabled) {
    background-color: #333;
  }
}
